! To save run xrdb -all ~/.Xresources

! === X f t ==================================================================

Xft.autohint:               0
Xft.antialias:              1
Xft.hinting:                1
Xft.hintstyle:              hintfull
Xft.lcdfilter:              lcddefault
Xft.rgba:                   rgb
Xft.dpi:                    112

! === U R x v t ==============================================================

URxvt.termName:             xterm-256color
URxvt.font:                 xft:Terminus:pixelsize=13
URxvt.depth:                24
URxvt.cursorBlink:          true
URxvt.loginShell:           true
URxvt.mapAlert:             true
URxvt.pointerBlank:         true
URxvt.resource:             value
URxvt.urgentOnBell:         true
URxvt.transparent:          True
URxvt.inheritPixmap:        True
URxvt.internalBorder:       6

! === Appearance =============================================================

!black
URxvt.color0:               #353535
URxvt.color8:               #666666

!red
URxvt.color1:               #D81860
URxvt.color9:               #F00060

!green
URxvt.color2:               #B7CE42
URxvt.color10:              #BDE077

!brown/yellow
URxvt.color3:               #FEA63C
URxvt.color11:              #FFE863

!blue
URxvt.color4:               #6F99B4
URxvt.color12:              #7C96B0

!magenta
URxvt.color5:               #8B7B8B
URxvt.color13:              #D8BFD8

!cyan
URxvt.color6:               #A7A15E
URxvt.color14:              #F0E68C

!white
URxvt.color7:               #DDDDDD
URxvt.color15:              #FFFFFF

URxvt.background:           #212021
URxvt.foreground:           #DDDDDD

! === Scrolling ==============================================================

URxvt.buffered:             true
URxvt.jumpScroll:           false
URxvt.saveLines:            1000
URxvt.scrollBar:            false
URxvt.scrollTtyKeypress:    true
URxvt.scrollTtyOutput:      false
URxvt.scrollWithBuffer:     false
URxvt.scrollstyle:          plain
URxvt.secondaryScroll:      false

! === Link opening ===========================================================

URxvt.perl-ext:             default,matcher
URxvt.cutchars:             `"()'*<>[]{|}"
URxvt.matcher.pattern.1:    \\bwww\\.[\\w-]\\.[\\w./?&@#-]*[\\w/-]
URxvt.matcher.button:       1
URxvt.urlLauncher:          luakit
