! To save run xrdb -all ~/.Xresources

! === Appearance =============================================================

!black
urxvt.color0:               #353535
urxvt.color8:               #666666

!red
urxvt.color1:               #D81860
urxvt.color9:               #F00060

!green
urxvt.color2:               #B7CE42
urxvt.color10:              #BDE077

!brown/yellow
urxvt.color3:               #FEA63C
urxvt.color11:              #FFE863

!blue
urxvt.color4:               #6F99B4
urxvt.color12:              #7C96B0

!magenta
urxvt.color5:               #8B7B8B
urxvt.color13:              #D8BFD8

!cyan
urxvt.color6:               #A7A15E
urxvt.color14:              #F0E68C

!white
urxvt.color7:               #DDDDDD
urxvt.color15:              #FFFFFF

urxvt.background:           #212021
urxvt.foreground:           #DDDDDD

urxvt.transparent:          True
urxvt.inheritPixmap:        True
urxvt.internalBorder:       6

! === Scrolling options ======================================================

urxvt.buffered:             true
urxvt.jumpScroll:           false
urxvt.saveLines:            4000
urxvt.scrollBar:            false
urxvt.scrollTtyKeypress:    true
urxvt.scrollTtyOutput:      false
urxvt.scrollWithBuffer:     false
urxvt.scrollstyle:          plain
urxvt.secondaryScroll:      false

! === Font options ===========================================================

urxvt.font:                 xft:Terminus:pixelsize=13
!urxvt.font:                 xft:Monospace:pixelsize=11
urxvt.xftAntialias:         true
!urxvt.skipBuiltinGlyphs:    true
xft.antialias:              true
xft.dpi:                    96
!xft.rgba:                   rgb
!urxvt.depth:                32

! === Url opening ============================================================

urxvt.perl-ext:             default,matcher
urxvt.cutchars:             `"()'*<>[]{|}"
urxvt.matcher.pattern.1:    \\bwww\\.[\\w-]\\.[\\w./?&@#-]*[\\w/-]
urxvt.matcher.button:       1
urxvt.urlLauncher:          uzbl-browser

! === Misc ===================================================================

urxvt.cursorBlink:          true
urxvt.loginShell:           true
urxvt.mapAlert:             true
urxvt.pointerBlank:         true
urxvt.resource:             value
urxvt.urgentOnBell:         true
!urxvt.utf8: 2
!urxvt.inputMethod:         scim
